<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listenersutility.IAnnotationRetryTransformerListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Edubridge java/JioMartFramework">
        <classes>
            <class name="testclasses.GroceriesTest"/>
            <class name="testclasses.SearchTest"/>
            <class name="testclasses.ElectronicsTest"/>
        </classes>
    </test>
</suite>